:root {
    /* --base-color: #336699; */
    --base-color: #0057B7;
    --base-color2: #FFD700;
}

body {
    font-family: Verdana, sans-serif;
    width: 99%;
}

header {
    background-color: var(--base-color);
    padding: 1em;
}

header .hdrlogo {
    background-color: white;
    width: 163px;
    border-radius: 0.3125em;
    margin: 0.5em 0.2em 0.2em 1.1em;
    padding: 0.2em 0.2em 0 0.2em;
}

header .hdrtxt {
    text-align: right;
    margin-top: 1.2em;
}

header .hdrtxt a {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    color: #FFFFFF;
    text-decoration: none;
}

header .hdrtxt-xtr {
    font-size: 0.5em;
    text-shadow: 1px 1px #000000;
}

nav.navbar-default {
    padding-top: 1em;
    border: 1px solid #CCCCCC;
}

.navbar-default .navbar-nav > .active > a {
    background-image: none;
    background-color: #428BCA;
    background: linear-gradient(to bottom, #CCCCCC 0%, #FFFFFF 100%);
    border: 1px solid #CCCCCC;
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #666666;
}

.navbar-default .navbar-nav {
    float: none;
    padding-bottom: 1em;
}

.navbar-default .navbar-nav > li {
    float: none;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.navbar-default .navbar-nav > li.subnav > a {
    margin-left: 10px;
    font-size: 90%;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #666666;
}

.navbar-default .navbar-nav > li.navpma {
    display: none;
}

nav .navbar-brand {
    display: none;
}

div#pmabox {
    display: block;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 1em;
    padding-bottom: 1em;
}

div#pmabox h2 {
    font-size: 120%;
    font-weight: bold;
}

table#pmalogin label,
table#pmaboxlogin label {
    font-weight: 100;
}

div#phpmyadmin {
    border: 0;
}

div#paypalbtn {
    text-align: center;
}

div#title {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    color: #FFFFFF;
    background-color: var(--base-color2);
    border-bottom-right-radius: 1em;
    padding-left: 0.5em;
    margin-left: -1em;
    padding-right: 1em;
}

div.contentbar article {
    width: 95%;
    font-size: 120%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 2.5em;
}

div.contentbar article h2 {
    font-size: 120%;
    font-weight: bold;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 95%;
}

.sysok {
    color: green;
}

.syserror {
    color: red;
}

table.tblform td.left label {
    font-weight: 100;
}

table.tblform td.right {
    width: 70%;
}

table.tblform td.form_amount input[type=number] {
    width: 6em;
}

#twitter-widget-0 {
	width: 500px !important;
}

div#languagelist {
    padding-bottom: 1em;
}

div#languagelist ul li {
    margin-left: -0.5em;
	line-height: 150%;
}

div#languagelist ul li a {
    color: #000000;
}

.cursorpointer {
    cursor: pointer;
}

div#l10ncredits {
	float: right;
	width: 360px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 0 0.5em 0 0.5em;
	margin-left: 2em;
	margin-bottom: 1em;
}

div#l10ncredits h3 {
	font-size: 0.8em;
	font-weight: bold;
	cursor: pointer;
}

div#l10ncredits ul li {
	margin-left: -1em;
}

div#l10ncredits ul li a {
	color: #000000;
	text-decoration: none;
}

div#l10ncredits ul li a:hover {
	text-decoration: underline;
}

/* Small devices (tablets, 767px and down) */
@media screen and (max-width: 767px) {
    header {
        display: none;
    }

    header .hdrtxt {
        text-align: left;
        margin-top: 1.75em;
        padding-left: 2em;
        font-size: 1em;
    }

    div#paypalbtn {
        display: none;
    }

    nav .navbar-brand {
        display: block;
    }

    nav .navbar-brand img {
        margin-top: -0.7em;
        width: 70%;
    }

    nav.navbar-default {
        border-radius: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    nav .navbar-nav > li {
        border: 1px solid #E0E0E0
    }

    .navbar-default .navbar-nav > .active > li {
        border: 0;
    }

    .navbar-default .navbar-nav > .active > a {
        font-size: 120%;
        border-radius: 0;
    }

    nav .navbar-nav > li > a {
        font-size: 130%;
    }

    nav .navbar-nav > li.subnav > a {
        font-size: 110%;
    }

    .navbar-default .navbar-nav > li.navpma {
        display: block;
    }

    div#pmabox {
        display: none;
    }

    div#title {
        border-bottom-right-radius: 0;
        padding-left: 2em;
        margin-top: -1em;
    }

	div#languagelist ul li {
		margin-left: -0.5em;
		line-height: 170%;
		font-size: 130%;
	}

	div#l10ncredits {
		width: 100%;
	}

    div.contentbar article {
		margin-top: -1em;
        padding: 2em;
    }

	div.navbar {
        padding-right: 0;
        background-color: var(--base-color);
    }

    div.contentbar {
        padding: 0;
    }

    div.row {
        width: 104%;
    }
}
